/*$text-box-color-1: #ecf0f1;
$text-box-color-2: #bdc3c7;
$text-box-color-3: #95a5a6;
$text-box-color-4: #7f8c8d;

mixin border-set($size)
{
  
  border-top:$size solid $text-box-color-4;
  border-left:$size solid $text-box-color-4;
  border-right:$size solid $text-box-color-4;
  border-bottom:$size solid $text-box-color-4;
  
}
*/
body
{
    background-color: #009688;
}

.text-box-main
{
    margin-top: 10%;
    margin-left: 50%;
    padding: 15px;

    transform: translate(-50%, -50%);

    border: 2px solid #e0f2f1;
    border-radius: 5px;
}

.text-box-inner
{
    margin: -10px;
    padding: 15px;

    background-color: #e0f2f1;
}

.text,
.text-content,
.text-title
{
    font-size: 1.2rem;

    text-align: center;

    color: #37474f;
}

.text-content
{
    font-family: 'Quattrocento', serif;
}

.text-title
{
    font-family: 'Fanwood Text', serif;
    font-style: oblique;
    font-variant: small-caps;

    margin-top: 10px;

    letter-spacing: 2px;
}

.fa-quote-left,
.fa-quote-right
{
    font-size: .6em;
}

.buttons
{
    width: 100%;

    text-align: center;
}
.buttons button
{
    padding: 10px;

    border: 2px solid #e0f2f1;
    border-radius: 75%;
    background: none;
}
.buttons button .fa
{
    color: #e0f2f1;
}
.buttons button:hover
{
    background: #e0f2f1;
}
.buttons button:hover .fa
{
    color: #009688;
}

.new-button,
.tweet-button
{
    display: inline-block;

    padding: 10px;
}

footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #00796b;
}
footer button
{
    border: none;
    background: none;
}
footer button .fa
{
    padding-top: 5px;

    color: #e0f2f1;
}
footer p
{
    font-family: 'Quattrocento', serif;

    display: inline-block;
    float: right;

    padding-top: 10px;
    padding-right: 15px;

    color: #80cbc4;
}
